<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assignment-1</title>
</head>
<script src="angular.min.js"></script>
<script src="app.js"></script>
<body ng-app="Lunch">
    <div ng-controller="LunchController">
        <div>
            <input type="text" ng-model="input" placeholder="Enter the dishes separated by comma for lunch">
        </div>
    
        <div>
            <button ng-click="dispMessage();" >Check If Too Much!!</button>
        </div>
    
        <div ng-model="message">
            {{message}}
        </div>

    </div>
    
    
</body>
</html>